# =========================
# Visual Studio / .NET
# =========================

# Visual Studio cache (en cualquier nivel)
.vs/
**/.vs/

# Build results
bin/
obj/
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.rsuser

# Visual Studio database
*.VC.db
*.VC.opendb

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Logs
# =========================
*.log
